@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?b0hvuf');
    src:    url('fonts/icomoon.eot?b0hvuf#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?b0hvuf') format('truetype'),
        url('fonts/icomoon.woff?b0hvuf') format('woff'),
        url('fonts/icomoon.svg?b0hvuf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
    content: "\e908";
}
.icon-linkedin:before {
    content: "\e906";
}
.icon-phone:before {
    content: "\e907";
}
.icon-menu:before {
    content: "\e905";
}
.icon-resume:before {
    content: "\e904";
}
.icon-interests:before {
    content: "\e900";
}
.icon-projects:before {
    content: "\e901";
}
.icon-contact:before {
    content: "\e902";
}
.icon-work:before {
    content: "\e903";
}

