.browser-wrapper {
	padding: 40px 0 0 0;
	border-radius: 3px;
	background: #ddd;
	display: inline-block;
	position: relative;
  line-heigth: 0;
}

.browser-wrapper .browser-navigation-bar {
	display: block;
	height: 35px;
	position: absolute;
	top: 6px;
	left: 1px;
  width: 100%;
  border-bottom: 2px solid #ccc;
}
 
.browser-wrapper i {
	height: 10px;
	width: 10px;
	border-radius: 8px;
	background-color: #eee;
	border: 1px solid #dadada;
	float: left;
	margin: 0 0 0 4px;
}

.browser-wrapper i:nth-child(1) {background-color: rgb(255, 86, 79)}

.browser-wrapper i:nth-child(1):hover {background-color: rgb(255, 20, 25)}

.browser-wrapper i:nth-child(2) {background-color: rgb(255, 183, 42)}

.browser-wrapper i:nth-child(2):hover {background-color: rgb(230, 175, 42)}

.browser-wrapper i:nth-child(3) {background-color: rgb(37, 198, 58)}

.browser-wrapper i:nth-child(3):hover {background-color: rgb(10, 225, 10)}

.browser-wrapper input {
  clear: both;
	height: 15px;
  color: #aaa;
	width: calc(100% - 28px);
  border: 0;
	border-radius: 8px;
	background-color: #eee;
	float: left;
	margin: 3px 0 0 4px;
  padding: 0 8px 0 8px;
  display: block;
}