.gp-contact {

	.gp-x-methods {
	    max-width: 415px;
    	margin: 0 auto;


		ul {
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			li {
				padding-bottom: 20px;
			}
		}
	}
}