.gp-footer
{
	background-color: $color1;
	color: $wtrans5;
    
    font-size: 14px;
	
	a {
		text-decoration: none;
		color: inherit;
	}
	>.gp-x-flex {
		display: flex;
		align-items: center;
		>.gp-x-left {
			padding: 20px;
			flex: 1 1 auto;
		}
		>.gp-x-right {
			padding: 20px;
			flex: 1 1 auto;
			text-align: right;
		}
	}
	.gp-x-name {
		color: #fff;
	}
}