.gp-hero {
	margin-bottom: 50px;

	.gp-x-profile-img {
	    border-radius: 100px;
	    max-width: 180px;
	    margin: 0px auto;
	    text-align: center;
	    border: 3px solid #ededed;
	}
	.gp-x-profile {
		text-align: center;
	}
	.gp-x-title {
		color: $gray2;
		font-size: 20px;
		font-style: italic;
		font-family: Lora;
		margin-top: 10px;
    	margin-bottom: 10px;
	}
	.gp-x-name {
		color: $gray1;
		font-size: 25px;
	    margin-top: 10px;
    	margin-bottom: 10px;
	}
	.gp-x-statement {
		max-width: 590px;
    	margin: 0px auto;
	}
}