.gp-nav {

	.tooltipped::after
	{
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.gp-x-brand a {
		color: #fff;
		padding: 10px;
	}
	.gp-x-text {
		font-size: 14px;
	}

	>ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		>li {
			text-align: center;
			>a {
				flex: 1;
				text-align: center;
				text-decoration: none;
				
				// color: #fff;
			    color: $wtrans4;
			    padding-top: 20px;
			    padding-bottom: 20px;
			    display: block;

			    i {
			    	font-size: 40px;
			    }
			    transition: all 250ms ease-in;
			}
			a:hover {
				transition: all 250ms ease-in;
				background-color: $wtrans9;
				color: #fff;
			}

		}
	}
	.gp-x-brand {
		font-size: 50px;
		// letter-spacing: -3px;
		background-color: $color4;
	}
}