.gp-portfolio {
    min-height: 100vh;

    .gp-x-mobile-menu
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
    	background-color: #fff;

		.gp-x-button {
			padding: 17px;
			color: #555;
			font-size: 55px;
		}
	}
	.gp-x-mobile-menu-mask {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.gp-x-page {
		flex: 1;
		display: flex;
		>.gp-x-menu {
			position: fixed;
			left: 0px;
			width: 90px;
			height: 100%;
			background-color: $color1;	
			z-index: 2;
		}
		>.gp-x-left {
			flex: 0 0 90px;
			background-color: $color1;
		}
		>.gp-x-right {
			flex: 1 1 auto;
		    display: flex;
    		flex-direction: column;
		    // margin-top: 90px;
		    .gp-x-page-title {
		    	td {
		    		vertical-align: middle;
		    		height: 90px;
		    	}
		    	.gp-x-page-title-text {    		
		    		font-size: 25px;
		    		color: #aaa;
		    		padding-left: 55px;
		    		@media (max-width: 768px) {
		     			padding-left: 100px;
		     			text-align: center;
		    			font-size: 16px;
		    		}
		    	}
		    }
		}
	}
	.gp-x-page-inner {
	    flex: 1;
	}
}
.gp-portfolio-inner
{
	display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}