.gp-project {
	.panel-title {
		font-weight: 700;
	}
	.gp-x-cover-photo {
		img {
		    border-radius: 5px;
		    border: 1px solid;
		    border-color: rgba(165,165,165,0.38);
		    box-shadow: 0 3px 6px rgba(0,0,0,0.06),0 3px 6px rgba(0,0,0,0.13);
		    margin-bottom: 20px;
		}
	}
	.gp-x-subtitle {
		color: #888;
		font-style: italic;
		font-size: 14px;
	}
	.gp-x-additional-photos {
		>ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px;

			>li {
				width: 50%;
				display: inline-block;
    			padding: 7px;
				.gp-photo-thumb {
					background-position: 50% 50%;
					background-size: cover;
					background-repeat: no-repeat;
					border: 1px solid;
					height: 90px;
				    border-color: rgba(165,165,165,0.38);
				    box-shadow: 0 3px 6px rgba(0,0,0,0.06),0 3px 6px rgba(0,0,0,0.13);
				    border-radius: 5px;
		    	}
			}
		}
	}
	>.gp-x-flex {
		display: flex;
		>.gp-x-left {
			flex: 0 0 300px;
			img {
				max-width: 300px;
			}
		}
		>.gp-x-right {
			flex: 1 1 auto;
			padding-left: 15px;
			padding-right: 15px;
		}
	}	
	@media (max-width: 600px) {
		>.gp-x-flex {
		display: block;
		>.gp-x-left {
			flex: none;
		}
		>.gp-x-right {
			flex: none;
		}
	}	
	}
}