.gp-projectpreview {
	min-height: 400px;
	
	a {
		text-decoration: none;
	}
	.gp-x-cover {
		background-size: cover;
		background-position: 50% 50%;
		height: 250px;
		position: relative;
	}
	.gp-x-confidential 
	{
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		color: #888;
	}
	.panel-heading {
		>.gp-x-flex {
			display: flex;
			>.gp-x-left {
				flex: 1 1 auto;
			}
			>.gp-x-right {
				flex: 1 1 auto;
				text-align: right;
			}
		}
	}
	.gp-x-category {
		font-style: italic;
		color: $gray3;
		font-size: 14px;
	}
	.gp-x-lock {
		background-color: rgba(0,0,0,.4);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 75px;
		font-size: 100px;
    	color: rgba(255,255,255,.84);

    	.gp-x-text {
			font-size: 14px;
		}
	}
	.alert-danger {
		font-size: 14px;
	}
	.gp-x-lock-inner {
		max-width: 300px;
		margin: 0px auto;

		.btn-success {
			width: 100%;
		}
	}	
	.gp-x-unlocked {
		color: #008800;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
	}
}