.gp-projects {
	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px; 

		display: flex;
  		flex-wrap: wrap;

		li {
			// width: 400px;
			// display: inline-block;
			flex-grow: 1;
  			width: 400px;
   			padding: 25px;
   			@media (max-width: 500px) {
		     	width: 80%
		    }
		}
	}
}	