@import "plugins/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap";
@import "plugins/github/tooltips";

.gp-root {
	font-family: Inconsolata;	
  	min-height: 100vh;
    font-size: 16px;
    .gp-x-section {
    	>.panel-heading {
            >.panel-title {
    	       font-size: 20px;
        	   font-weight: 700;
            }
    		border-bottom: 1px solid rgba(0,0,0,.1);
    	}

    	margin-bottom: 50px;
    }


    @media (min-width: 768px) {
        .container {
            width: 650px;
           
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 870px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            width: 1070px;
        }
    }

    .panel-bare {
        box-shadow: none;
    }
    .panel-underline {
        box-shadow: none;
        .panel-heading {
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
    }
    .pswp__bg
    {
        background-color: rgba(0,0,0,.8);
    }
    .pswp__caption
    {
        background-color: #fff;
    }
    .pswp__caption__center {
        font-size: 18px ;
        max-width: 100%;
        color: #666;
        // text-align: center;
        padding: 60px;
        @media (max-width: 768px) {
            padding: 10px;
            font-size: 14px;
        }
    }
}
