.gp-skills {
	li {
		font-size: 14px;
		margin-bottom: 5px;
	}
	ul {
		padding-left: 15px;
	}
	.gp-x-section {
		.panel-body {
			.panel {
				.panel-heading {
					.panel-title {
						text-align: center;
					    text-decoration: underline;
						font-weight: 700;
					}
				}
			}
		}
	}
}