.gp-work {
	
}
.gp-work-job {
	max-width: 700px;
    margin: 0px auto;

	.gp-x-flex {
		display: flex;
		align-items: flex-end;
		.gp-x-logo {
			flex: 0 0 34px;
    		margin-right: 15px;
    		max-width: 34px;
		}
		.gp-x-left {
			flex: 1 1 auto;
		}
		.gp-x-right {
			flex: 1 1 auto;
			text-align: right;
		}
	}

	.gp-x-title {
		font-weight: 700;
		font-size: 16px;
	}
	.gp-x-company {
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.gp-x-description {
		margin-bottom: 10px;
	}
	.panel {
		font-size: 14px;
	}
	.panel-title {
		font-size: 14px;
	}
}